@font-face {
    font-family: 'SEGA LOGO FONT';
    font-style: normal;
    font-weight: normal;
    src: local('SEGA LOGO FONT'), url('../fonts/SEGA.woff') format('woff');
    }

main {
    display: grid;
    padding-block: 2rem;
    padding-inline: min(6vw, 1.5rem);
}